:root{
    --main: #A3DC00;
}
/*STYLE HEAD NAV SECTION*/
header{
    display: inline-flex;
    margin-left: 80px;
    margin-top: 37px;
    max-width: 1300px;
    width: 100%;

    justify-content: space-between;

}
.logo-title{
    display: inline;
    letter-spacing: -.02em;
    line-height: 40px;
    font-size: 30px;
    font-family: "Montserrat", serif;

}
.logo-span{
    color: var(--main);
}

nav ul{
    display: inline;
    width: 200px;
    list-style-type: none;
    margin-top: -11px;
}
nav li{
    display: inline-flex;
    margin-right: 38px;
    font-family: "Roboto", serif;
    font-size: 16;
    line-height: 24px;
    letter-spacing: .02em;
   
}
nav a{
    text-decoration: none;
    color: #1B0A42;
}
nav a:hover{
    text-decoration: underline;
}

.signup-section{
    display: inline-block;
    align-content: center;

}
.signin-btn{
    border:none;
    background-color: transparent;
    font-family: "Roboto", serif;
    font-size: 16px;
    line-height: 24px;
    color: #1B0A42;
    margin-right: 40px;
    letter-spacing: .02em;
}
.signin-btn:hover{
    text-decoration: underline;
}
.blue-btn{
    border:none;
    background-color: var(--main);
    font-family: "Roboto", serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    border-radius: 6px;
    width: 120px;
    height: 60px;
    letter-spacing: .02em;
}
.blue-btn:hover{
    background-color: #000;
}

/*STYLING FOR CONTENT SECTIONS */

section{
    display: inline-block;
    
}
.main-content h1{
    margin-top: 209px;
    margin-left: 200px;
    max-width: 495px;
    width: 100%;
    font-family: "Ramaraja", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .02em;
    font-size: 72px;
    line-height: 76px;
    color: #1B0A42;
    margin-bottom: 0;
}
.main-content p{
    margin-left: 200px;
    max-width: 583px;
    width: 100%;
    font-family: "Roboto", serif;
    font-size: 20px;
    line-height: 32px;
    color: #9A9A9A;
    letter-spacing: .02em;

}
.main-btn{
    margin-left: 200px;
    margin-top: 50px;
    width: 150px;
    height: 64px;

}

.main-img{
    margin-top: 100px;

}
img {
    max-width: 654px;
}